.section {
  position: relative;
  opacity: 0.9;
  min-height: 100vh;
  overflow: hidden;
}
.hero_bg {
  height: 100vh;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1000;
  background-image: linear-gradient(180deg, green 80%, blue 20%, 0.2);
}
.hero_center {
  position: absolute;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
}
.hero_title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  gap: 2px;
}
.hero_title h2 {
  color: #37506e;
  font-size: 20px;
}
.hero_title span {
  display: inline-block;
  margin-left: 20px;
}
.hero_subtitle {
  margin-bottom: 10px;
}
.hero_subtitle p {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.hero_text {
  text-align: center;
  color: #2e2d2c;
  font-size: 13px;
}
.hero_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_footer_btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  bottom: 0px;
  width: 130px;
  height: 80px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 10px;
  color: #fff;
  font-weight: 700;
}
.hero_footer_img {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 6px 7px;
  border-radius: 100%;
  border: 1px solid transparent;
}
.hero_footer_img img {
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 992px) {
  .hero_center {
    width: 60%;
  }
  .hero_title,
  .hero_subtitle {
    margin-bottom: 20px;
  }
  .hero_title h2 {
    font-size: 45px;
  }
  .hero_subtitle p {
    font-size: 20px;
  }
  .hero_text {
    font-size: 16px;
  }
  .hero_footer_btn {
    padding-bottom: 50px;
    gap: 10px;
    width: 119px;
    font-size: 12px;
  }
}
